p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  html {
    background-image: linear-gradient(to top, rgb(95, 202, 238) 0%, rgb(201, 145, 195) 100%);
    font-size: 50px;
    }
    
    p {
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite;
      }
  p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }